button {
  color: hsl(0, 0%, 100%);
  background-color: hsl(278, 68%, 11%);
  border: none;
  border-radius: 8px;
  width: 310px;
  height: 40px;
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
  margin-left: 300px;
  height: 70vh;
  width: 63vw;
}
form label {
  font-size: 20px;
}
form input {
  height: 30px;
  width: 300px;
  border-radius: 10px;
}

.tablebtn {
  margin-left: 650px;
  margin-bottom: 20px;
}

.upload {
  text-align: center;
}

#csvFileInput {
  font-size: 18px;
  background-color: aqua;
  height: 40px;
  width: 400px;
  border-radius: 0px;
}