.app {
  background-color: rgb(239, 239, 239);
  min-height: 1130px;
}

a:link {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

.navbar{
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  font-size: 40px;
}

.home{
  display: grid;
  grid-template-columns: 10% 90%;
}
.charts {
  min-height: 1300px;
}


.form {
  display: grid;
  grid-template-columns: 15% 85%;
}

.forms {
   
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 18px;
}

.upload{
  display: grid;
  grid-template-columns: 10% 90%;
}
.uploads {
}